@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-primary: #f55a5a;
  --color-dark: #2b283a;
  --color-muted: #918e9b;
  --color-background: #f5f5f5;
}